@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  touch-action: manipulation;
  overscroll-behavior: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

.mySwiper .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
  color: white;
  width: 32px;
  height: 32px;
}

@media (min-width: 768px) {
  .mySwiper .swiper-button-next,
  .mySwiper .swiper-button-prev {
    width: 40px;
    height: 40px;
  }
}
